<?xml version="1.0" encoding="utf-8"?><!-- suppress ALL -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.niki.newapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".NewApp"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Profile"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".NewApp"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.niki.newapp.NewApp" />
        </activity>
               <activity
            android:name=".EnterDetals"
            android:label="@string/title_activity_enter_detals"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ChooseTemplate"
            android:label="@string/title_activity_choose_template"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".CardPreview"
            android:label="@string/title_activity_card_preview"
            android:theme="@style/AppTheme">
        <intent-filter>
            <action android:name="android.intent.action.SEND" />

            <category android:name="android.intent.category.DEFAULT" />
            <data android:mimeType="image/*"/>
        </intent-filter>
        </activity>
    </application>

</manifest>
